@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

.main-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}
.nav-bar{
    height:9vh;
    width: 100vw;
    display: flex;
    background-color: #00b2ff; 
    align-items: center; 
    justify-content: space-between;   
}
p{
    margin: 0;
}
.nav-bar a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-left: 2rem;
    letter-spacing: 0.8px;
}
.nav-bar a:hover{
    text-decoration: underline;
}
.vicara-logo{
    margin-right: 1.5rem;
}

.page-content{
    height:91vh;
    width: 100vw;
    display: flex; 
    background-color: black;

}
.current-status-container{
    height: 100%;
    width: 90%;     
    margin-right: auto;
    margin-left: auto;
}
.beacon-container{
    width: 100%;
    overflow-y: auto;
    height: 30rem;
    
}

.becon-table-row{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    margin-bottom: 1rem;
    border-radius: 10px;
    width: 98%;
    background-color: #fff;
    color: #000;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.status-table-heading{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: #FFF;
    border-radius: 10px;
    width: 98%;
    background-color: #00b2ff;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.model-dropdown{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 3rem;
    width: 20rem;
    color: #000;
}
.main-table{
   display: flex; 
   flex-direction: column;
}
.battery-div{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.bi-battery-full::before{
    margin-right: 1rem;
}
.heading{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #fff;
}
.nav-link{
    display: flex;
}

.events-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;  
    color: #fff;
}
.event-data-field-container{
    overflow-y: scroll;
    width: 95%;
    height: 25rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;

}
.event-heading{
    width: 92%;
    /* background-color: #00b2ff; */
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr 2fr;
    gap:1rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.8px;

}
.event-field{
    background-color: #00b2ff;
    padding: 1rem;
    border-radius: 10px;    
}
.data-field{
    background-color: #FFF;
    padding: 1rem;
    border-radius: 10px;  
}
.event-status{
    width: 96%;
    color: #000;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr 2fr;
    gap: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.8px;
    /* border:2px solid red; */
}

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00b2ff;
  }
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: #00b2ff;
  } */

  @media only screen and (min-width: 1920px) {


    .event-data-field-container {
        height: 42rem;

    }
    .nav-bar a{
        font-size: 2rem;
    }

  }